BODY {
    display: flex;
    align-items: center;
    justify-content: left;
    background: white;
    font-family: Georgia, serif;
}
H2 {
    font-size: 50px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: 0 0 15px #999;
    color: transparent;
    transition: all .5s;
}
H2:hover {
    text-shadow: 0 0 0px #333;
    cursor: pointer;
}

.change-color-link{
    color: #f66d52; /* Цвет ссылки */
    font-size: 2em;
    font-weight: bold;
    padding: 20px 0px;
    line-height: 1;
    text-decoration: none;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; /* Время изменения цвета */
}
.change-color-link:hover{
    color: #ffa000; /* Меняем цвет ссылки */
}

